body{
    margin: 0;
    background: linear-gradient(to right bottom, lightblue, lightpink,lightyellow);
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.container{
    width: 50%;
    background-color: rgba(255,255,255,0.3);
    box-shadow: 0 10px 16px rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.heading{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    padding:10px;
}

label{
    font-family: 'Courier New', Courier, monospace;
}

div{
    padding: 10px;
}

input{
    border-radius: 5px;
    width: 25%;
}

.btn{
    border-radius: 10px;
    background-color: rgb(75, 207, 251);
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.btn:hover{
    background-color: rgb(57, 152, 184);
    transition: all .3s ease-in-out;
}

footer {
    font-family: "MV Boli";
    position: fixed;
    font-size: 15px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
    padding-right: 40px;
}