body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("bg-image.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    /* background-color: aliceblue; */
    overflow: hidden;
}

h1{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'Times New Roman';
    font-weight: bold;
    text-align: center;
    font-size: 40px;
}

.clock{
    display: flex;
    font-family: 'MV Boli';
}

.clock div{
    margin: 5px;
}

.clock span{
    width: 100px;
    height: 80px;
    background-color: rgba(0,0,0,0.5);
    opacity: 0.8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

.clock .text{
    height: 30px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: darkblue;
    opacity: 0.8;
}

.clock #ampm{
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background-color: rgba(0, 128, 0, 0.9);
}

footer {
    font-family: "MV Boli";
    position: fixed;
    font-size: 15px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-right: 40px;
}