body{
    margin: 0;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left bottom, lightblue, lightyellow);
    font-family: "MV Boli";
}

.container{
    background-color: rgba(255,255,255, .3);
    padding: 28px;
    border-radius: 7px;
    box-shadow: 0 10px 10px rgba(0,0,0,.3);
    width: 90%;
    margin: 10px;
    max-width: 450px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.heading{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
}

.input{
    height: 53px;
    width: 300px;
    background-color: rgba(255,255,255, 0.6);
    border-color: rgba(255,255,255, 0.4);
    font-size: 16px;
    padding: 0 42px;
    border-radius: 5px;
}

.meaning-container{
    display: none;
}

footer {
    font-family: "MV Boli";
    position: fixed;
    font-size: 15px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
    padding-right: 40px;
}