body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

.heading{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
    margin: 30px;
    text-align: center;
    font-size: 32.5px;
}

span{
    background: url("https://cdn4.iconfinder.com/data/icons/general-office/91/General_Office_54-512.png");
    width: 100px;
    height: 100px;
    position: absolute;
    pointer-events: none;
    background-size: cover;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    animation: animate 6s linear;
}

@keyframes animate{
    0%{
        transform: translate(-50%, -50%);
        opacity: 1;
        filter: hue-rotate(0deg);
    }
    100%{
        transform: translate(-50%, -5000%);
        opacity: 0;
        filter: hue-rotate(720deg);
    }
}

footer {
    font-family: "MV Boli";
    color: white;
    position: fixed;
    font-size: 15px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-right: 40px;
}